
.head { grid-area: head;}
.card1 { grid-area: card1;}
.card2 { grid-area: card2;}
.card3 { grid-area: card3;}
.card4 { grid-area: card4;}
.card5 { grid-area: card5;}
.card6 { grid-area: card6;}

body {
    background: #fbfbfb;
}

.facilityCard {
    display: grid;
    grid-template-areas: 
        'head head'
        'card1 card2'
        'card3 card4'
        'card5 card6';
    
}

.label {
    font-family: Helvetica Now Text ;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.119952px;
    color: #2B2B2B;
}

#head {
    /* background-image: url('/RoyalHotels-SubTeamFlash/images/facility/dining.png'); */
    position: relative;
    width: 1440px;
    height: 400px;
    left: 0px;
    top: 0px;
    opacity: 0.6;
}
.head {
    background: black;
    /* overflow: hidden; */
    height: 400px;
}
.facility {
    text-align: center;
    position: absolute;
    text-align: center;
    font-size: 50px;
    top: 30%;
    left: 40%;
    color: white;
}

.card1 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 120px;
    top: 516px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);

}

.card2 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 758px;
    top: 516px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);
}

.card3 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 120px;
    top: 1086px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);
}

.card4 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 758px;
    top: 1086px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);
}

.card5 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 120px;
    top: 1656px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);
}

.card6 {
    position: absolute;
    background: white;
    width: 562px;
    height: 530px;
    left: 758px;
    top: 1656px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                0px 0px 2px rgba(0, 0, 0, 0.06),
                0px 4px 8px rgba(0, 0, 0, 0.04);
}


@media only screen and (max-width: 375px){
    #head {
        position: relative;
        width: 375px;
        height: 200px;
        left: 0px;
        top: 0px;
        opacity: 0.6;
    }

    .facility {
        text-align: center;
        position: absolute;
        text-align: center;
        font-size: 20px;
        top: 15%;
        left: 30%;
        color: white;
    }

    .head {
        background: black;
        /* overflow: hidden; */
        height: 200px;
    }

    .label {
        font-family: Helvetica Now Text ;
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.119952px;
        color: #2B2B2B;
    }

    .card1 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 236px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card1 {
        width: 260px;
        height: 130px;
    }

    .card2 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 456px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card2 {
        width: 260px;
        height: 130px;
    }

    .card3 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 656px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card3 {
        width: 260px;
        height: 130px;
    }

    .card4 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 856px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card4 {
        width: 260px;
        height: 130px;
    }

    .card5 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 1106px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card5 {
        width: 260px;
        height: 130px;
    }

    .card6 {
        position: absolute;
        background: white;
        width: 262px;
        height: 130px;
        left: 55px;
        top: 1356px;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
                    0px 0px 2px rgba(0, 0, 0, 0.06),
                    0px 4px 8px rgba(0, 0, 0, 0.04);
    }
    #card6 {
        width: 260px;
        height: 130px;
    }
}