*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
nav{
    text-transform: uppercase;
    height: 80px;
}
nav a{
    color:black;
    font-size: 20px;
}

.landing {
    background-image: url('../images/Rectangle\ 9\ \(3\).png');
    width: 100%;

}

.home-inner{
    background: url('../images/Rectangle\ 9\ \(3\).png') center center/cover ;
    max-height: 100vh;
}

.contact__name{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    display: grid;
    grid-template-columns:repeat(auto-fit, [formstart] minmax(25rem,1fr) [formend]);
    grid-gap: 2rem;
    margin: 2rem;
}
.contact{
    grid-column:formstart 1/formend 1 ;
}
.contact__form{
    display: grid;
}
.form__group{
    margin-bottom: 2rem;
    padding: 2rem;
}
.form__button{
    align-self: center;
    justify-self: center;
}
.contact__input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color:#fff;
    border: none;
    width: 90%;
    display: block;
    border: 1px solid orangered;
}
.images{
    grid-column: formstart 2/ formend 2;
    width: 90%;
    margin-top: 2rem;
}
.img{
    width: 100%;
}

.btn{
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 2rem;
    padding: 1.5rem 3rem;
    color: #fff;
    background-color: orangered;
}

.facilityCard {
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0px;
    top: 0px;

    background: #FBFBFB;
}
.facilityHead, .facilitySubFoot {
    font-family: Helvetica Now Text ;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    /* identical to box height */
    letter-spacing: 0.119952px;

    /* bLACK 2B2B2B */
    color: #2B2B2B;
}

.facilitySubFoot {
    font-size: 24px;
    line-height: 35px;
}

.facilityHead {
    font-size: 48px;
    line-height: 71px;
}

.facilitySubCardLeft {
    position: absolute;
    width: 350px;
    height: 390px;
    left: 120px;
    top: 161px;

    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilitySubCardCenter {
    position: absolute;
    width: 350px;
    height: 390px;
    left: 545px;
    top: 161px;

    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilitySubCardRight {
    position: absolute;
    width: 350px;
    height: 390px;
    left: 970px;
    top: 161px;

    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.facilityFoot {
    position: absolute;
    width: 220px;
    height: 70px;
    left: 610px;
    top: 611px;
    /* Primary color */
    background: #FC3C3C;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}
